<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10 pt-5">
      <nav class="w-full flex justify-end">
        <a
          class="bg-red-500 rounded-md px-3 py-2 text-sm inline-block mb-5"
          href="/logout"
          >Logout</a
        >
      </nav>
      <div class="flex items-start gap-3">
        <div class="w-10 h-10 rounded-md overflow-hidden">
          <img class="h-full w-full object-cover " src="/images/uploads/<%=user.profilePic%>" alt="">
        </div>
        <h3 class="text-3xl">
          <span class="font-light">Hello</span>, <%= user.name%>
        </h3>
      </div>
      <h5 class="mb-6 mt-3">You can create a new post.</h5>
      <form action="/post" method="post">
        <textarea
          name="content"
          id=""
          class="w-1/3 resize-none bg-trasparent border-2 border-zinc-800 rounded-md p-3 outline-none"
          placeholder="What'son your mind ?"
        ></textarea>
        <button
          type="submit"
          class="px-3 w-40 py-2 bg-blue-500 block rounded-md mt-2 text-sm"
        >
          Create new post
        </button>
      </form>
      <div class="posts mt-20">
        <h3 class="text-zinc-400">Your Posts</h3>
        <div class="post-container mt-5">
          <% user.posts.forEach((post)=>{ %>
          <div
            class="post w-1/3 p-4 border-2 border-zinc-700 bg-zinc-800 rounded-md mb-4 "
          >
            <div class="flex justify-between gap-4 items-center mb-2">
              <h4 class="text-blue-500"><%= user.username%></h4>
              <p class="text-sm text-zinc-400">
                <%= new Date(post.date).toLocaleDateString("en-US", { year:
                "numeric", month: "long", day: "numeric" }) %>
              </p>
            </div>
            <p class="text-sm tracking-tight"><%=post.content %></p>
            <small class="mt-4 inline-block"
              ><%=post.likes.length%> likes</small
            >
            <div class="btns flex mt-1 gap-4">
              <a href="/like/<%=post._id%>" class="text-blue-500"
                ><%= post.likes.indexOf(user._id) === -1 ? 'like' :
                'Unlike'%></a
              >
              <a href="/edit/<%=post._id%>" class="text-zinc-400">Edit</a>
              <a href="/delete/<%=post._id%>" class="text-red-500">Delete</a>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
